@import theme_const

/* --- цвет шрифта ---*/
.theme-color
    color: $theme-color

.theme-darker-color
    color: $theme-darker-color

.theme-red-color
    color: $theme-red-color

/* --- цвет фона ---*/
.theme-bg-сolor
    background-color: $theme-color

.theme-grey-bgcolor
    background-color: $theme-grey-color

/* --- границы ---*/
.theme-border
    border: $theme-border
    outline: none

.theme-border-start
    border-left: $theme-border

.theme-border-top
    border-top: $theme-border

.theme-border-end
    border-right: $theme-border

.theme-border-bottom
    border-bottom: $theme-border

/* круглые границы */
.theme-border-radius
    border-radius: 0.35em

/* --- тень ---*/
.theme-shadow
    box-shadow: 2px 1px 4px $theme-darker-color

/* нижний отступ */
.theme-mb
    margin-bottom: 2rem

@media(max-width:1000px)
.theme-mb
    margin-bottom: 1rem
