.table-row__btn{
    opacity: 0.25;
    background-color: transparent;
}
.table-row__btn:hover{
    opacity: 1;
}

.author-context-menu{
    display: none;
}
.author-context-menu--active{
    display: block;
}

.author-context-menu__btn {
    display: block;
    width: 10rem;
    padding: 0.5rem;
}