/* контейнер изображения */
.image-block {
    height: 30rem;
    width: 50%;
}

/* строка таблицы */
.book-table__author {
    cursor: pointer;
    padding: 1em;
}
.book-table__author a {
    color: var(--theme-darker-color);
    text-decoration: underline;
}
.book-table__author:hover{
    text-shadow: var(--theme-text-shadow);
}

.book {
    padding: 3rem;
    margin-bottom: 3rem;
}

.book__content {
    display: flex;
    margin-bottom: 1rem;
}

@media (max-width: 500px) {
    .book-content {
        display: block;
    }
    .image-block {
        height: 18rem;
        width: 100%;
        margin-bottom: 1.5rem;
    }
}