.form-add-user, .form-add-user * {
  box-sizing: border-box;
}

.form-add__input, .form-add__btn{
  padding: 0.5em;
  background-color: white;
  border-radius: 0.35em;
}

.form-add__btn {
  padding: 0.5em 1.5em;
  color: var(--theme-darker-color);
  border: var(--theme-border);
}
.form-add__btn:hover {
  text-shadow: 0.04em 0.02em 0.06em var(--theme-darker-color);
}

.form-add-user__row {
    width: 100%;
    margin-bottom: 1rem;
}
.form-add-user__row label{
    width: 30%;
}
.form-add-user__row input, .form-add-user__row select{
    width: 69%;
    padding: 0.5em;
}

@media (max-width: 700px) {
  .form-add__input {
    display: block;
    width: 50%;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.25em;
  }
}
