.genre-context-menu{
    display: none;
}
.genre-context-menu--active{
    display: block;
}

.genre-context-menu__btn {
    display: block;
    width: 10rem;
    padding: 0.5rem;
}

.table-row__btn{
    background-color: white;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.prg-error {
    position: absolute;
    top: 5.5rem;
    left: 1rem;
    width: 15vw;
    padding: 0.5rem;
    word-break: break-word;
    color: var(--theme-red-color);
    font-weight: bolder;
}