.image-block {
    height: 30rem;
    width: 50%;
}

.book {
    padding: 3rem;
    margin-bottom: 3rem;
    box-shadow: 2px 2px 4px var(--theme-darker-color);
}

.book__content {
    display: flex;
    margin-bottom: 1rem
}

@media (max-width: 500px) {
    .book-content {
        display: block;
    }
    .image-block {
        height: 18rem;
        width: 100%;
        margin-bottom: 1.5rem;
    }
}