.table-row__input-author {
  outline: none;
}

.table-row__btn {
  background-color: white;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.genre-table__btn-remove,
.author-table__btn {
  background-color: transparent;
  font-size: 0.9em;
  display: none;
  padding: 0;
}

.author-table__btn-edit {
  padding-left: 0.5rem;
}

.table-row:hover .genre-table__btn-remove,
.table-row:hover .author-table__btn {
  display: inline-block;
}

.prg-error {
  position: absolute;
  top: 5.5rem;
  left: 1rem;
  width: 15vw;

  color: var(--theme-red-color);
  font-weight: bolder;
  word-break: break-word;
  padding: 0.5rem;
}
