* {
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
}

.button-basic {
  padding: 0.75rem;
  width: 10rem;
  text-align: center;
  color: var(--theme-color);
  background-color: white;
}
.button-basic:hover {
  color: white;
  background-color: var(--theme-color);
}

.button-wide {
  width: 20rem;
}
.button-wide:hover {
  color: var(--theme-darker-color);
  background-color: white;
}

@media(max-width:700px) {
  .button-wide{
    width: 100%;
  }
}