html {
  font-size: 15px;
  margin: 0;
  padding: 0;
  background-color: var(--theme-grey-color);
}

body {background-color: transparent;}
textarea {resize: none;}
a {text-decoration: none;}
input {outline: none;}

button {
  border: none;
  background-color: white;
}

.cursor-pointer {cursor: pointer;}


/* --- секция контента --- */
.content-section {
  width: 95%;
  max-width: 600px;

  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.section-mb{
  margin-bottom: 2rem;
}


/* --- кнопки --- */
.button-basic {
  padding: 0.75rem;
  width: 10rem;
  text-align: center;
  color: var(--theme-color);
  background-color: white;
  border: var(--theme-border);
}
.button-basic:hover, .header-nav-btn:hover {
  text-shadow: var(--theme-text-shadow);
}


.button-wide {
  width: 20rem;
}
@media(max-width:700px) {
  .button-wide{
    width: 100%;
  }
}

.button-small {
  display: inline-block;
  border: 1px solid var(--theme-color);
  color: var(--theme-color);
  font-size: 2rem;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 0.25em;
}


/* --- header --- */
.header-nav-btn {
  text-align: end;
  padding-left: 1rem;
}

.prg-error {
  position: absolute;
  top: 5.5rem;
  left: 1rem;
  width: 15vw;

  color: var(--theme-red-color);
  font-weight: bolder;
  word-break: break-word;
  padding: 0.5rem;
}