html {
    --theme-color: rgba(0, 150, 255, 0.75);
    --theme-darker-color: rgb(0, 150, 255, 1);
    --theme-red-color: rgb(202, 0, 0);
    --theme-border: 1.5px solid var(--theme-color);
  }
  
  .theme-color {
    color: var(--theme-color);
  }
  .theme-darker-color {
    color: var(--theme-darker-color);
  }
  .theme-red-color {
    color: var(--theme-red-color);
  }
  .theme-bg-сolor {
    background-color: var(--theme-color);
  }
  
  .theme-bg-сolor-white {
    background-color: white;
  }
  .theme-bg-сolor-white:hover {
    background-color: var(--theme-color);
    color: white;
    font-weight: bold;
  }
  .theme-bg-сolor-white:hover::placeholder {
    color: #eee;
  }
  
  .theme-border {
    border: var(--theme-border);
    outline: none;
  }
  .theme-border-start {
    border-left: var(--theme-border);
  }
  .theme-border-top {
    border-top: var(--theme-border);
  }
  .theme-border-end {
    border-right: var(--theme-border);
  }
  .theme-border-bottom {
    border-bottom: var(--theme-border);
  }

  .theme-border-radius {
    border-radius: 0.25em;
  }